/* ADDRESS */
.address {
  padding: 0;
  margin: 0;
  margin-right: 70px;
}

.contacts-item .contacts-item-coord,
.contacts-item .contacts-item-mailto,
.contacts-item .contacts-item-tel {
  font-weight: 400;
  font-size: 14px;
  line-height: calc(24/14);
  letter-spacing: 0.03em;

  color: var(--light-white);
  /*  Задаём значения перехода  */
  transition: color var(--transition-timing) cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-item .contacts-item-mailto,
.contacts-item .contacts-item-tel {
  color: var(--white-60);
  /*  Задаём значения перехода  */
  transition: color var(--transition-timing) cubic-bezier(0.4, 0, 0.2, 1);
}

.address .list .item:not(:last-child) {
  margin-bottom: 9px;
}

.address>ul a:hover {
  color: var(--blue);
}