/* TEAM */
.team {
  background-color: var(--ligth-gray-bkgr-team);
  padding-top: 94px;
  padding-bottom: 94px;

}

.team-card-text {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: calc(42/36);
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--dark-gray);
  margin-bottom: 50px;
}

.team-list {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.team-list img {
  display: block;
}

.team-item {
  flex-basis: calc((100% - 60px)/3);
}

.team-list .team-item {
  background: var(--light-white);
  box-shadow: 0px 1px 3px rgba(0 0 0 / .12),
    0px 1px 1px rgba(0 0 0 / .14),
    0px 2px 1px rgba(0 0 0 / .2);
  border-radius: 0px 0px 4px 4px;
}

.team-list h3 {
  font-weight: 500;
  font-size: 16px;
  line-height: calc(19 / 16);
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--dark-gray);
  margin-bottom: 10px;
}

.team-list p {
  font-weight: 400;
  font-size: 16px;
  line-height: calc(19 / 16);
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--light-gray);
  margin-bottom: 16px;
}